*{margin: 0; padding: 0;} 
.topheader {
	background-color:#000000;
	height:100px;
	
	
}
.fixed {
    position: fixed;
    top:0; 
	width: 100%; 
}
.hotline {
	color:#959595;
	font-size:13px;
	font-family: 'Montserrat', sans-serif;
	padding-top:35px;
}
a.logo img{
	height: 70% !important;
	max-width:90% !important;


}
.navbar-top li{
	display: inline-block;
	margin-top: 8%;
	
}
.top-site{
	color:#FFFFFF;
	margin-left: 5px;
	margin-right: 20px;
	font-family: Montserrat;

}
a.top-site:after{
	content : "  "
	
	
}
a.top-site:hover {
	color: #8f042c;
	text-decoration: none;
}



.bottomheader {
	background-color:#353c3e;
	height: 62px;
	border-bottom:3px solid #040505;
	font-weight: bold;
	z-index:1000;
}

.bottomheader .trongsuot {
	background-color:transparent;
	margin-left: 20%;
}

.bottomheader  ul.navbar-nav li.nav-item  a.nav-link{
	text-transform:uppercase;
	font-size: 13px;
	color:#FFFFFF;
	font-family: 'Montserrat', sans-serif;
	padding:13px 20px ;
	float: right;	
	margin-left: 10px;
}
.bottomheader  ul.navbar-nav li.nav-item  a.nav-link:hover {
	 color:#8f042c;
}

.banner {
	background:url("images/bg_banner.jpg") no-repeat center center #f6f6f6;
	height: 700px;
}
h1.text1 {
	font-family: 'Montserrat', sans-serif;
	color:#464646;
	font-size: 51px;
	padding-top: 148px;
}
h2.text2 {
	font-family: 'Montserrat', sans-serif;
	color:#f26c4f;
	font-size: 51px;
	margin-top: -17px;
	padding-bottom: 35px;
	}
p.text3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color:#959595;
	line-height: 22px;

}
.video {
	position: relative;
	text-align: center;
	color: white;
	
  }
.videoAboutUs{

	overflow: hidden;
	height: auto ;	
	width: 100% !important;	

}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 2px 2px 2px #000000;
	height: auto ;	
	width: auto!important;	
  }

.thongtin1 {
	background: #f6f6f6;
	padding-bottom: 67px;
}
.thongtin1 .textto {
	color:#777777;
	font-family: 'Montserrat', sans-serif;
	font-size:24px;
	line-height: 45px;
	padding-top:42px;
	padding-bottom:34px;
}
.thongtin1 .textnho {
	line-height: 25px;
	font-size: 15px;
	color:#cccccc;
	font-family: 'Montserrat', sans-serif;

}
.thongtinsp {
	margin-top:5%;
	position: relative;
}
.thongtinsp .text h3 {
	font-family: 'Montserrat', sans-serif;
	color:#353c3e;
	font-size: 16px;
	padding-bottom: 14px;


}
.thongtinsp .text p{
	font-family: 'Montserrat', sans-serif;
	color:#8f8f8f;
	font-size: 12px;
}

.thongtinsp .anh img {
	width:100%;
}

.thongtinsp .col-sm-3{
	padding-left:5px;
	padding-right:5px;
}
.thongtinsp .anh h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color:#f26c4f;
	padding-bottom:18px;
	padding-top:27px;
	padding-left: 41px;

}
.thongtinsp .anh p {
font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 21px;
	color:#8f8f8f;
 	padding-top:0px;
	padding-left: 41px;
	padding-right: 41px;	
}

.thongtinsp .anh {
	
	

}
.thongtinsp .bigNews {
	margin-top: 60px;
	height:520px;
	
}
.bigNewsSVG{
	position: absolute;
}
.thongtinsp .smallNewsTop {
	margin-top: 105px;
	height:200px;
}
.thongtinsp .smallNews {
	margin-top: 30px;

	height:200px;
}

.bigNewsPicture {
	width:100%;
	height: auto;
	margin-bottom: 5%;

}
.txtNewsBig{
	color:#000000;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 20px;
	font-family: Montserrat;
	margin-top:20%;
	font-size: 25px;
	


}
.txtNewsSmall {
	color:#000000;
	margin-left: 5px;
	margin-right: 20px;
	font-family: Montserrat;

}
.txtNewsTitle{
	margin-top:30px !important;
}
a.txtNews:hover{	
	color: #8f042c;
	text-decoration: none;
}
.imageNews{
	height: 55%;
	width:100%;
	margin-left:10%;
}
.foot{
	height: 300px;
	margin-top:50px;
}
.vl {
	border-left: 6px solid green;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 0;
  }
/* Style all font awesome icons */
.fa {
	padding:10px;
	margin-left: 10px;
	font-size: 30px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {

	opacity: 0.5
  }
  
.chunhat{
	position: absolute;
	width:100%;
	height: 110%;
	background: gold;
	top:0px;
	left:0px;
}
.effect{
	position: relative;
	display: inline-block;
}